<div>

  <h2 class="mb-3">My transactions</h2>
  <div class="d-flex justify-content-end mb-3 border-bottom pb-3">
    <button class="btn btn-success" (click)="newTransaction()">
      <em class="fas fa-plus-square">&nbsp;</em>
      New transaction
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Destination</th>
        <th scope="col">Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trs of transactions">
        <td>{{ trs.transactionDate }}</td>
        <td>{{ trs.amount }}</td>
        <td>{{ trs.destinationIban }}</td>
        <td>
          <span class="badge rounded-pill " [ngClass]="{'text-bg-success': trs.type === 'DEPOSIT', 'text-bg-danger': trs.type === 'TRANSFERT' }">
            <em class="fa-solid " [class.fa-circle-down]="trs.type === 'TRANSFERT'"></em>
            <em class="fa-solid " [class.fa-circle-up]="trs.type === 'DEPOSIT'"></em>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
