<div class="container-fluid card login-container">
  <h3 class="text-center mt-3">Login</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{ errorMsg }}
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input [(ngModel)]="authRequest.email" type="email" id="login" class="form-control" placeholder="Exp: alibou@mail.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="authRequest.password" type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <div>
      Don't have an account?&nbsp;
      <button (click)="register()" type="button" class="btn btn-link">
        Register
      </button>
    </div>
    <button type="button" class="btn btn-primary" (click)="login()">
      <em class="fas fa-sign-in">&nbsp;Sign in</em>
    </button>
  </div>
</div>
