<div class="container-fluid card login-container">
  <h3 class="text-center mt-3">Register</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsgs.length > 0">
    <span *ngFor="let err of errorMsgs">{{ err }}<br /></span>
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label">Firstname</label>
    <input [(ngModel)]="registerRequest.firstname" type="email" id="firstname" class="form-control" placeholder="Exp: Ali">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input [(ngModel)]="registerRequest.lastname" type="text" id="lastname" class="form-control" placeholder="Exp: Bouali">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email address</label>
    <input [(ngModel)]="registerRequest.email" type="email" id="login" class="form-control" placeholder="Exp: alibou@mail.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="registerRequest.password" type="password" id="password" class="form-control" placeholder="Password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <div>
      Already have an account?&nbsp;
      <button (click)="login()" type="button" class="btn btn-link">
        Login
      </button>
    </div>
    <button type="button" class="btn btn-primary" (click)="register()">
      <em class="fas fa-sign-in">&nbsp;Sign up</em>
    </button>
  </div>
</div>
