<div class="container-fluid card">
  <h3 class="text-center mt-3">New transaction</h3>
  <hr />
  <div class="alert alert-danger" role="alert" *ngIf="errorMsgs.length > 0">
    <ng-container *ngFor="let err of errorMsgs">
      {{ err }}<br>
    </ng-container>
  </div>
  <div class="mb-3">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ transactionType }}
      </button>
      <ul class="dropdown-menu form-control">
        <li><a class="dropdown-item" href="javascript:void(0);" (click)="transactionType = 'Transaction type'">Transaction type</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);" (click)="transactionType = 'DEPOSIT'">DEPOSIT</a></li>
        <li><a class="dropdown-item" href="javascript:void(0);" (click)="transactionType = 'TRANSFERT'">TRANSFERT</a></li>
      </ul>
    </div>
  </div>
  <div class="mb-3" *ngIf="transactionType === 'TRANSFERT'">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ selectedContactInfo }}
      </button>
      <ul class="dropdown-menu form-control">
        <li><a class="dropdown-item" href="javascript:void(0);">{{ selectedContactInfo }}</a></li>
        <li *ngFor="let ct of contacts">
          <a class="dropdown-item" href="javascript:void(0);" (click)="selectContact(ct)">
            {{ ct.firstname + ' ' + ct.lastname + ' - ' + ct.iban  }}
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="mb-3"  *ngIf="transactionType !== 'Transaction type'">
    <label for="lastname" class="form-label">Amount</label>
    <input [(ngModel)]="transactionRequest.amount" type="number" id="lastname" class="form-control" placeholder="Exp: 3 456€">
  </div>
  <div class="mb-3"  *ngIf="transactionType === 'TRANSFERT'">
    <label for="iban" class="form-label">IBAN</label>
    <input [(ngModel)]="transactionRequest.destinationIban" type="text" id="iban" class="form-control" placeholder="IBAN">
  </div>
  <div class="d-flex justify-content-end mb-3" *ngIf="transactionType !== 'Transaction type'">
    <div>
      <button type="button" class="btn btn-link mr-3">
        <em class="fas fa-times"></em>
        Cancel
      </button>
    </div>
    <button type="button" class="btn btn-danger" (click)="save()">
      <em class="fas fa-save">&nbsp;{{transactionType}}</em>
    </button>
  </div>
</div>
