<div class="container-fluid card">
  <h3 class="text-center mt-3">New transaction</h3>
  <hr />
  <div class="alert alert-danger" role="alert">
    A simple primary alert—check it out!
  </div>
  <div class="mb-3">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Transaction type
      </button>
      <ul class="dropdown-menu form-control">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="mb-3">
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select a contact
      </button>
      <ul class="dropdown-menu form-control">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Amount</label>
    <input type="number" id="lastname" class="form-control" placeholder="Exp: 3 456€">
  </div>
  <div class="mb-3">
    <label for="iban" class="form-label">IBAN</label>
    <input type="text" id="iban" class="form-control" placeholder="Password">
  </div>
  <div class="d-flex justify-content-end mb-3">
    <div>
      <button type="button" class="btn btn-link mr-3">
        <em class="fas fa-times"></em>
        Cancel
      </button>
    </div>
    <button type="button" class="btn btn-danger">
      <em class="fas fa-save">&nbsp;Save</em>
    </button>
  </div>
</div>
