/* You can add global styles to this file, and also import other style files */

.login-container {
  width: 500px !important;
  margin-top: 10%;
}

.border-right {
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}

.full-height {
  height: 95vh;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay {
  height: 99vh;
  position: absolute;
  width: 100%;
  z-index: 5000;
  background-color: #0000005e;
  top: 0;
}

.hidden {
  display: none !important;
}
