<ng-container *ngIf="stats">
  <h1 class="text-center border-bottom p-3">Dashboard</h1>
  <div class="d-flex gap-3 justify-content-center mt-3">
    <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-center">Highest transfer</h4>
        <p class="card-text text-center">{{ stats.highestTransfer | number:'.2' }}€</p>
      </div>
    </div>
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-center">Highest deposit</h4>
        <p class="card-text text-center">{{ stats.highestDeposit | number:'.2' }}€</p>
      </div>
    </div>
    <div class="card text-bg-info mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h4 class="card-title text-center">Account balance</h4>
        <p class="card-text text-center">{{ stats.accountBalance | number:'.2' }}€</p>
      </div>
    </div>
  </div>
</ng-container>
